/* COLOR PALETTE -------------------------------*/
:root {
    --color-dark: #2E343A;
    --color-green: #15B215;
    --color-white: #FFF;
    --color-blue: #4796E5;
    --color-yellow: #CCCC29;
    --color-pink: #F679F6;
}

.green{
    color: var(--color-green);
}

.dark {
    color: var(--color-dark);
}

.white {
    color: var(--color-white);
}

.blue{
    color: var(--color-blue);
}

.yellow {
    color: var(--color-yellow)
}

.pink {
    color: var(--color-pink);
}

.backg-green {
    background-color: var(--color-green);
}

.backg-dark {
    background-color: var(--color-dark);
}

.backg-white {
    background-color: var(--color-white);
}

.backg-blue {
    background-color: var(--color-blue);
}

.backg-yellow {
    background-color: var(--color-yellow);
}

.backg-pink {
    background-color: var(--color-pink);
}


/* body ------------------------------------- */

body {
    background-size: 100% 100%;
    background: var(--color-dark);
}


/* TYPOGRAPHY -------------------------------*/

html {
    /* 16 * 62.5% = 10px */
    font-size: 62.5%;
    /* we set a rule for all the rem unit to make stuff easier */
}
  
body {
    font-family: Inter, Arial, Helvetica, sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
    /* 1.5 times the current font size */
}

h3 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

p {
    font-size: 1.7rem;
}

.low-weight {
    font-weight: 100;
}


.p-middle {
    display: flex;
    justify-content: center;
}



/* @media screen and (max-width: 480px) {
    html {
        font-size: 62.5%;
    }
    
} */


/* logo-text -------------------------------*/

.logo-text {
    text-align: center;
    margin-top: 10rem;

}

.gigglegains-text,
.welcome-to-text {
    margin-top: 3px;
}


/* sign in login bottons ------------------------*/

.back-button{
    width: 3rem;
    height: 3rem;
}

.back-button-div {
    background-color: var(--color-dark);
    padding-left: 2.6rem;
    padding-top: 5.5rem;
    padding-bottom: 1rem;
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
  
}
.log-sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 17rem;
    
}

.log-in {
    width: 25rem;
    height: 6rem;
    margin-bottom: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 1.7rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-up {
    width: 25rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 1.7rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.next-btn {
    border: 0;
    width: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.7rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 5rem;
}

.next-btn:focus {
    background-color: var(--color-dark);
}



/* tip pargraph ----------------------------- */ 

.tip {
    margin: 0.5rem;
}


/* log in box ------------------------------*/ 


.EP-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
    border: 0;
    border-radius: 1.7rem;
    height: 5rem;
    width: 26rem;
    padding: 0rem 2rem;
    font-size: 16px;

}



.text-box-type {
    margin-bottom: 4rem;
}



/* Terms and condition -------------------------------*/ 


.terms-container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.check-box {
    width: 3rem;
    height: 3rem;
    border: 0.1rem solid var(--color-white);
    background-color: var(--color-dark);
}


.agree-button-text {
    margin-left: 1rem;
}


/* Sign up second option ------------------------------ */

.sign-up-second-option {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


.line {
    width: 7rem;
    height: 0rem;
    border: 0.1rem solid var(--color-white);
    margin: 2.6rem;
}


.google-botton {
    border: 0.1rem solid var(--color-white);
    width: 23.7rem;
    height: 6.4rem;
    background-color: var(--color-dark);

}


.google-text {
    margin-top: 0;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
}



/* Setup bottons ------------------------------- */

.button-basic-setup {
    border: 0.5rem solid var(--color-yellow);
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 25rem;
    height: 8.7rem;
}


.button-basic-setup:focus {
    background-color: var(--color-yellow);
    opacity: 80%;
}

.button-advanced-setup {
    border: 0.5rem solid var(--color-pink);
    border-radius: 1rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 25rem;
    height: 8.7rem;
}

.button-advanced-setup:focus {
    background-color: var(--color-pink);
    opacity: 80%;
}


/* button choose gender -------------------- */ 


.button-gender-male {
    width: 15rem;
    height: 5rem;
    border-radius: 1.7rem 0 0 1.7rem;
    border: 0.1rem solid var(--color-green);
    background-color: var(--color-dark);
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background 0.2s;
    color: var(--color-white);
}

.button-gender-female {
    width: 15rem;
    height: 5rem;
    border-radius: 0 1.7rem 1.7rem 0;
    border: 0.1rem solid var(--color-green);
    background-color: var(--color-dark);
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background 0.2s;
    color: var(--color-white);
}



.button-gender-male:focus {
    background-color: var(--color-green);
    color: var(--color-dark);
    font-weight: 700;
}

.button-gender-female:focus {
    background-color: var(--color-green);
    color: var(--color-dark);
    font-weight: 700;
}


.button-gender {
    display: flex;   
}



/* Date of birth Button ----------------------------- */ 


.date-of-birth-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}


.date-of-birth-month {
    width: 14rem;
    height: 5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.date-of-birth-day {
    width: 8rem;
    height: 5rem;
    border-radius: 1.7rem 0 0 1.7rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.date-of-birth-year {
    width: 8rem;
    height: 5rem;
    border-radius: 0 1.7rem 1.7rem 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



/* Weight input btn ---------------------------------*/ 


.weight-input-btn {
    display: flex;
    justify-content: center;
    height: 5rem;
}



.weight-input-unit {
    width: 7rem;
    border-radius: 0 1.7rem 1.7rem 0;
    border: var(--color-white);
    border-left: 0.1rem dashed var(--color-dark);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



.weight-input {
    width: 18.5rem;
    border-radius: 1.7rem 0 0 1.7rem;
    border: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


input {
    padding-left: 1.5rem;
    border: #15B215 solid;
}
input::placeholder {
    font-size: 1.7rem;

}

select {
    padding-left: 1rem;
}