/* Log in Page ----------------------------- */


.log-in-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17rem;
}

.log-in-fixed {
    position: fixed;
    z-index: -1;
    width: 100%;
    filter: blur(3.5rem);
    opacity: 0.3;
} 


.log-in-log-in {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}


/* Sign up Page ------------------------------*/


.sign-up-text-box {
    display: flex;
    justify-content: center;
    margin-top: 6.7rem;
}



.sign-up-sign-up {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


.sign-up-google-div {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 2rem;


}