/* Log in Page ----------------------------- */


.log-in-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17rem;
}

.log-in-fixed {
    position: fixed;
    z-index: -1;
    width: 100%;
    filter: blur(3.5rem);
    opacity: 0.3;
} 


.log-in-log-in {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}


/* Sign up Page ------------------------------*/


.sign-up-text-box {
    display: flex;
    justify-content: center;
    margin-top: 6.7rem;
}



.sign-up-sign-up {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


.sign-up-google-div {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 2rem;


}



/* Setup Page ------------------------------------ */


.layout-setup-header {
    display: flex;
    justify-content: center;
    margin-top: 12.4rem;
}

.layout-setup-text-div {
 
    display: flex;
    justify-content: center;
}

.layout-setup-text{
    width: 31.8rem;

}

.layout-setup-basic-setup{
    display: flex;
    justify-content: center;
    margin-top: 5.5rem;

}   

.layout-setup-advanced-setup{
    display: flex;
    justify-content: center;
    margin-top: 5.5rem;
    margin-bottom: 11.2rem;

}   




/* About you 1 and 2---------------------*/

.margin-top-5-5{
    margin-top: 5.5rem;
}


.about-you-1-next-btn-div {
    display: flex;
    justify-content: center;
    margin-top: 13.2rem;
}



.about-you-1-about-you-div {
    margin-top: 10.6rem;
}

.about-you-2-next-btn-div {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}